.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-auto-flow: dense;
  }
  
  .cell img {
      max-width: 100%;
      transition: all 1.0s;
      display: block;
      transform: scale(1);
  }
  
  .cell:hover img {
      transform: scale(1.2);
  }
  
  .cell {
    width: 100%;
    height: 100%;
    /*position: relative;*/
    overflow: hidden;
  }
  
  .cell:nth-child(n) {
    grid-column: span 1;
    grid-row: span 5;
  }
  
  .cell:nth-child(18n + 1) {
    grid-column: span 2;
    grid-row: span 10;
  }
  
  .cell:nth-child(18n + 10) {
    grid-column: span 2;
    grid-row: span 10;
  
  }
  
  .cell:nth-child(18n + 9) {
    grid-column: 1;
  }
  
  .cell:nth-child(18n + 8) {
    grid-column: 2;
  }
  
  .grid-img{
      width: 100%; 
      height: 100%;
      object-fit: cover; /*contain*/
  }
  
  .tz-gallery .lightbox img {
      width: 100%;
      border-radius: 0;
      position: relative;
  }
  
  .tz-gallery .lightbox:before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -13px;
      opacity: 0;
      color: #fff;
      font-size: 26px;
      font-family: 'Glyphicons Halflings';
      content: '\e003';
      pointer-events: none;
      z-index: 9000;
      transition: 0.4s;
  }
  
  
  .tz-gallery .lightbox:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(46, 132, 206, 0.7);
      content: '';
      transition: 0.4s;
  }
  
  .tz-gallery .lightbox:hover:after,
  .tz-gallery .lightbox:hover:before {
      opacity: 1;
  }
  
  .baguetteBox-button {
      background-color: transparent !important;
  }
  .cont{
    max-width: 968px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }